<<<<<<< HEAD
<<<<<<< HEAD
/* mobile view */
body {
  margin-top: 5%;
  background-image: url("background_image.jpg");
  background-repeat: no-repeat;
  background-size: 100% 800%;
}

header {
  display: flex;
}

.bar {
  border: 1px solid black;
  width: 30px;
  margin-bottom: 10px;
}

.small-bar {
  border: 1px solid black;
  width: 20px;
  margin-bottom: 10px;
}

.menu {
  padding: 10px;
  margin-top: 7px;
}

.logo-name {
  display: flex;
  justify-content: space-between;
  margin-left: 4%;
}

.logo {
  margin-left: 20px;
  font-size: 30px;
  padding: 10px;
}

.container {
  position: absolute;
  top: 15%;
  margin-left: 9%;
  width: 70%;
  height: 70%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.new-header {
  display: none;
}

.sign-in {
  text-align: center;
  margin-top: 30%;

}

.text {
  margin-top: 30px;
}

.input input{
  margin-top: 40px;
  width: 70%;
  height: 30px;
  outline: none;
  border: none;
}

.input {
  border-bottom: 1px solid grey;
  width: 75%;
  margin-left: 13%;
}

.button button {
  margin-top: 30px;
  color: white;
  background-color: #42a5f5;
  width: 70%;
  height: 30px;
  border-radius: 10px;
  outline: none;

}

footer{
margin-top: 160%;
}

/* Tablet view */

@media (min-width:768px) {
  body {
    background-image: url("background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 500%;
    margin: 5% 10% 5% 10%;

  }

  header {
    position: relative;
    z-index: 2;
    top: 50px;
    left: 40px;

  }

  .bar {
    border: 1px solid black;
    width: 30px;
    margin-bottom: 10px;
  }

  .small-bar {
    border: 1px solid black;
    width: 20px;
    margin-bottom: 10px;
  }

  .menu {
    padding: 10px;
  }

  .logo-name {
    display: flex;
    justify-content: space-between;
    margin-left: 18%;
  }

  .logo {
    margin-left: 20px;
    font-size: 30px;
    padding: 10px;
  }


  .container {
    margin: 5% 5% 15% 5%;
    top: 5%;
    max-width: 100%;
    min-height: 480px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

  .sub-container {
    display: flex;
    height: 104%;
    margin-right: -10px;
    margin-top: -10px;
  }

  .sign-in {
    width: 50%;
    text-align: center;
    margin-top: 18%;
  }

  .image {
    width: 50%;
    background-image: url("G3 sky.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 10px 10px 0px;
}

}

/* laptop view */
@media (min-width:1024px) {
  body {
    height: 642px;
    background-image: url("background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  header {
    left: 40px;
  }
  .logo-name {
    margin-left: 23%;
  }

  .sign-in {
    margin-top: 15%;
  }

  .container {
    margin-left: 35px;
  }

}

@media (min-width:1440px) {
  body {
    height: 675px;
    background-image: url("background_image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  header {
    left: 45px;
  }
  .logo-name {
    margin-left: 29%;
  }
  .container {
    margin-left: 42px;
  }
  .sub-container {
    height: 103.5%;
  }
  .sign-in {
    margin-top: 10%;
  }
}
=======
* {
    box-sizing: border-box;
  }
  .container{
    width:100%;
    height:100%
  }
  body {
    background-color: #c5d5e8;
    background-image: url("https://i.ibb.co/r4mcwt3/background-image.jpg");
  }
  .gender{
    position: relative;
    right:100px;
    margin-top:15px;
  }
  .birthday{
    position: relative;
    right:200px;
    margin-top:15px;
  }
  button {
    width:50%;
    margin-top: 30px;
    color: white;
    background-color: #42a5f5;
    height: 30px;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
  
  }
  /*.formWrapper{
      width:40%;
      text-align: center;
      background-color: white;
  }*/

  
  .formWrapper{
    text-align: center;
    background-color: white;
    margin: 5% 5% 15% 5%;
      top: 5%;
      max-width: 60%;
      position: relative;
      left:150px;
      min-height: 480px;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  input{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  @media(max-width:420px){
      .wrapper{
          width:100%;
          height: auto;
          text-align:center;
          position:relative;
          right:100px;
      }
      .gender{
          position:relative;
          left:10px;
      }
      .birthday{
          position: relative;
          right:50px;
      }
      input{
          width:80%;
      }
      #firstname{
          width: 100px;
      }
      #lastname{
          width:71%;
      }
      body{
          background-size: cover;
          background-repeat: no-repeat;
      }
      .wrapper{
          width: auto;
      }
  }
  @media(min-width:765px){
      .wrapper{
          position: relative;
          top:50px;
      }
      body{
          background-repeat: no-repeat;
          background-size: cover;
      }
      .container{
          width:auto;
      }
      .birthday{
          position:relative;
          right: 100px;
      }
      .gender{
          position:relative;
          right:20px;
      }
  }
>>>>>>> default-branch
=======

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.btn {
    display: inline-block;
    background: #c5d5e8;
    color: #fff;
    padding: 0.4rem 1.3rem; 
    font-size:  1rem;
    text-align: center;
    border: 1px solid rgb(24, 21, 206);
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    border-radius: 4px 
}

.btn-xl {
    padding: 1rem 1rem; 
    font-size: 1.6rem;
    text-transform: uppercase;
    width: 230px;
    margin: auto;
    border: none;
    letter-spacing: .1px;
}

.btn:hover {
    opacity: 0.9;
}

.showcase { 
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('background_image.jpg') no-repeat center center/cover; 
    border-bottom: 8px solid #222;
}

.showcase::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: auto;
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%)
}   

.showcase-top {
    position: relative;  
    height:90px;
    z-index: 1;
}

.showcase-top img {
    width: 170px;
    position: absolute;
    top: 0%;
    left:3%;
    transform: translate(0%, -5%);
}

.showcase-top a {
    position: absolute;
    right: 5%;
    top: 30%;
    transform: translate(0%, -5%);
}

.showcase-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 9rem;
    z-index: 2;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 0 0 2rem;
}
>>>>>>> 248d9f8b7678093fb518985845a67c5953aba99f
