* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-device-width: 621px) {
  .body {
    display: flex;
  }

  .displayNone {
    display: none;
  }
  .mobileNav{
    display: none;
  }

  .sideMenu {
    width: 10%;
    background: #fff;
    border: 1px solid #d9d5d5;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
  }

  .sideMenu i {
    cursor: pointer;
  }

  .bodyWrapper {
    display: flex;
    width: 100vw;
    flex-direction: column;
  }

  .user {
    display: none;
  }

  .header {
    width: 100%;
  }

  .searchArea ul {
    display: flex;
  }

  /* .butt {
    font-size: 1.3rem;
    margin: 0 20px;
    color: grey;
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
  } */
/* 
  .butt:hover {
    background: #90b5fd;
    color: #fff;
    border: none;
    cursor: pointer;
  } */

  .menu {
    margin: 0 20px;
    cursor: pointer;
  }

  .logo {
    display: flex;
    padding: 15px;
    color: #fff;
    font-size: 2rem;
    background: #007bff;
    height: 80px;
  }

  .searchArea {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    border-bottom: solid 1px #c4bebe;
  }

  .searchArea input {
    width: 22vw;
    border-radius: 5px;
    border: solid 1px #0002;
    height: 3rem;
    padding: 15px;
  }


.contentArea {
  background: #f4f4f4;
  padding: 70px 20px;
}
.groupImage img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
.groupOne {
  display: flex;
  background: #fff;
  border-radius: 25px;
  padding: 10px 80px;
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.groupDetails {
  display: flex;
  align-items: center;
}

.toggleOnline {
  text-align: center;
  color: #7df77d;
  font-size: 2.2rem;
}
.imaging img{
  width: 150px;
  height: 120px;
  border-radius: 50%;
  
}

/* Modal box */
.hideModal {
	position: absolute;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0,0,0,0.5); */
	/* transition: opacity 200ms; */
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
}
.showModal {
  position: absolute;
	top: 100px;
	bottom: 0;
  left: 0;
  right: 0;
  visibility: visible;
  z-index: 20;
  transition: all 500ms;
 
}
.popup {
  z-index: 50;
	margin: auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 70vw;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: relative;}
  .light .popup {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  }
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;}
    .close:hover {
      opacity: 1;
      cursor: pointer;
    }
/* End of Modal box */
}

@media(max-device-width: 620px) {
  .settings {
    display: none;
  }

  .displayNone {
    display: none;
  }

  .header {
    padding: 20px;
    margin: 0 0 20px 0;
  }

  .logo {
    padding: 15px;
    color: #fff;
    font-size: 1.7rem;
    background: #90b5fd;
    height: 70px;
    border-radius: 25px 25px 0 0;
  }
 

  .user {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
    margin: 0 0 30px 0;
    border: solid 1px #f7efef;
    box-shadow: 0 10px 20px #f2f2f2f2;
  }

  .userProfile {
    display: flex;
    align-items: center;
  }

  .userImage img {
    width: 60px;
    height: 60px;
    border: 2px solid #cccccc;
    border-radius: 100%;
  }

  .userDetails {
    padding: 0 10px;
  }

  .searchArea {
    text-align: center;
  }

  .searchArea input {
    width: 100%;
    border-radius: 25px;
    border: solid 1px #0002;
    height: 3rem;
    padding: 15px;
  }

  .contentArea {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .mobileNav {
    display: block;
  }

  .mobileNav ul {
    display: flex;
    justify-content: space-around;
  }

  .mobileNav li {
    list-style: none;

  }

  .mobileNav a {
    color: #bbb;
    font-size: 1.3rem;
    text-decoration: none;
  }

  .active {
    background: #90b5fd;
    padding: 5px 30px;
    border-radius: 10px;
    color: #fff !important;
  }

  .domantColor {
    color: #bbb;
  }

  .groupChats {

    padding: 20px;
    margin: 20px 0;

  }

  .groupOne {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  }

  .groupDetails {
    display: flex;
  }

  .groupImage img {
    width: 60px;
    height: 60px;
    border: 2px solid #cccccc;
    border-radius: 100%;
  }

  .groupName {
    padding: 5px 15px;
  }

  .contentArea {
    background: none;
  }

  .menu {
    display: none;
  }

  .mobileMenu {
    cursor: pointer;
  }

  hr {
    display: block;
    border: solid 1px #f4f4f4;
  }
  /* Modal box */
.hideModal {
	position: absolute;
	top: 0;
	bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(0,0,0,0.5); */
	/* transition: opacity 200ms; */
  visibility: hidden;
  opacity: 0;
  transition: all 500ms;
}
.showModal {
  position: absolute;
	top: 100px;
	bottom: 0;
  left: 0;
  right: 0;
  visibility: visible;
  z-index: 20;
  transition: all 500ms;
 
}
.popup {
  z-index: 50;
	margin: auto;
	padding: 20px;
	background: #fff;
	border: 1px solid #666;
	width: 70vw;
	box-shadow: 0 0 50px rgba(0,0,0,0.5);
	position: relative;}
  .light .popup {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  }
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    opacity: 0.8;
    
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #666;}
    .close:hover {
      opacity: 1;
      cursor: pointer;
    }
/* End of Modal box */
}