* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-device-width: 621px) {
  .body {
    display: flex;
  }

  .displayNone {
    display: none;
  }

  .sideMenu {
    width: 10%;
    background: #fff;
    border: 1px solid #d9d5d5;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
  }

  .sideMenu i {
    cursor: pointer;
  }

  .bodyWrapper {
    display: flex;
    width: 100vw;
    flex-direction: column;
  }

  .user {
    display: none;
  }

  .header {
    width: 100%;
  }

  .searchArea ul {
    display: flex;
  }

  .searchArea li {
    list-style: none;
  }

  .searchArea a {
    font-size: 1.3rem;
    text-decoration: none;
    margin: 0 20px;
    color: rgba(0, 0, 0, 0.993);
    border: 1px solid rgba(0, 0, 0, 0.705);
    padding: 5px 10px;
    border-radius: 15px;
  }

  .searchArea a:hover {
    background: #033292;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .menu {
    margin: 0 20px;
    cursor: pointer;
  }

  .logo {
    display: flex;
    padding: 15px;
    color: #fff;
    font-size: 2rem;
    background: #033292;
    height: 80px;
  }

  .searchArea {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    border-bottom: solid 1px #c4bebe;
  }

  .searchArea input {
    width: 22vw;
    border-radius: 45px;
    border: solid 1px rgba(0, 0, 0, 0.705);
    height: 3rem;
    padding: 15px;
  }
}

.contentArea {
  background: #e9e9e9;
  padding: 70px 20px;
}

.nav {
  display: none;
}

.groupImage img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

hr {
  display: none;
}

.group {
  display: flex;
  background: #fff;
  border-radius: 25px;
  padding: 10px 80px;
  margin: 20px 0;
  justify-content: space-between;
  align-items: center;
}

.group:hover {
  cursor: pointer;
  background: rgb(226, 223, 223);
}

.groupDetails {
  display: flex;
  align-items: center;
}

.toggleOnline {
  text-align: center;
  color: #7df77d;
  font-size: 2.2rem;
}

/* Osaze Additions */
.chatSquare {
  display: flex;
  width: 100%;
  height: 100vh
}

.chatInput {
  position: absolute;
  top : 70vh;
  left: 30rem
}

.main_section,html{
  height: 100%;
  margin: 0;
  background: #7F7FD5;
  background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.chat{
  margin-top: auto;
  margin-bottom: auto;
}
.card{
  height: 500px;
  border-radius: 15px !important;
  background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
  padding:  0.75rem 0 !important;
  overflow-y: auto;
  white-space: nowrap;
}
.msg_card_body{
  overflow-y: auto;
}
.card-header{
  border-radius: 15px 15px 0 0 !important;
  border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
  border-top: 0 !important;
}
.container{
  align-content: center;
}
.search{
  border-radius: 15px 0 0 15px !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
}
.search:focus{
     box-shadow:none !important;
       outline:0px !important;
}
.type_msg{
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color:white !important;
  height: 60px !important;
  overflow-y: auto;
}
.type_msg:focus{
  box-shadow:none !important;
  outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.search_btn{
  border-radius: 0 15px 15px 0 !important;
  background-color: rgba(0,0,0,0.3) !important;
  border:0 !important;
  color: white !important;
  cursor: pointer;
}
.contacts{
  list-style: none;
  padding: 0;
}
.contacts li{
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}
.active{
  background-color: rgba(0,0,0,0.3);
}
.user_img{
  height: 70px;
  width: 70px;
  border:1.5px solid #f5f6fa;

}
.user_img_msg{
  height: 40px;
  width: 40px;
  border:1.5px solid #f5f6fa;

}
.img_cont{
  position: relative;
  height: 70px;
  width: 70px;
}
.img_cont_msg{
  height: 40px;
  width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: rgb(255, 255, 255);
}
.new_member_info span, .new_member_info p{
  color: black;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
position: absolute;
top: 45px;
right:0;
bottom: -15px;
width: 70px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 20px;
top: 14px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu a{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu a i{
padding-right: 10px;

}
.action_menu a:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}

@media(max-device-width: 620px) {
  .settings {
    display: none;
  }

  .displayNone {
    display: none;
  }

  .header {
    padding: 20px;
    margin: 0 0 20px 0;
  }

  .logo {
    padding: 15px;
    color: #fff;
    font-size: 1.7rem;
    background: #90b5fd;
    height: 70px;
    border-radius: 25px 25px 0 0;
  }
 

  .user {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    align-items: center;
    margin: 0 0 30px 0;
    border: solid 1px #f7efef;
    box-shadow: 0 10px 20px #f2f2f2f2;
  }

  .userProfile {
    display: flex;
    align-items: center;
  }

  .userImage img {
    width: 60px;
    height: 60px;
    border: 2px solid #cccccc;
    border-radius: 100%;
  }

  .userDetails {
    padding: 0 10px;
  }

  .searchArea {
    text-align: center;
  }

  .searchArea input {
    width: 100%;
    border-radius: 25px;
    border: solid 1px rgb(0, 0, 0);
    height: 3rem;
    padding: 15px;
  }

  .contentArea {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .nav {
    display: block;
  }

  .nav ul {
    display: flex;
    justify-content: space-around;
  }

  .nav li {
    list-style: none;

  }

  .nav a {
    color: #bbb;
    font-size: 1.3rem;
    text-decoration: none;
  }

  .active {
    background: #90b5fd;
    padding: 5px 30px;
    border-radius: 10px;
    color: #fff !important;
  }

  .domantColor {
    color: #bbb;
  }

  .groupChats {

    padding: 20px;
    margin: 20px 0;

  }

  .groupOne {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
  }

  .groupDetails {
    display: flex;
  }

  .groupImage img {
    width: 60px;
    height: 60px;
    border: 2px solid #cccccc;
    border-radius: 100%;
  }

  .groupName {
    padding: 5px 15px;
  }

  .contentArea {
    background: none;
  }

  .menu {
    display: none;
  }

  .mobileMenu {
    cursor: pointer;
  }

  hr {
    display: block;
    border: solid 1px #f4f4f4;
  }
}

/* Osaze Additions */
.chatSquare {
  position: relative;
  width: 100%;
  height: 100vh
}

.chatInput {
  position: absolute;
  top : 70vh;
  left: 30rem
}

